---
import styles from "./project.module.scss";

const { image, link, text } = Astro.props;
---

<div class={styles.project_item} title={text}>
	<div class={styles.image}>
		<img src={image} alt={text} />
	</div>

	<div class={styles.link}>
		<a href={link}>{text}</a>
	</div>
</div>
