---
import styles from "./project.module.scss";
import ProjectItem from "./projectItem.astro";

const projects = [
	{
		name: "APERÇU DU PROJET",
		image: "/projects/work1.webp",
		link: "/",
	},
	{
		name: "CONTEXTE ET JUSTIFICATION",
		image: "/projects/work2.webp",
		link: "/",
	},
	{
		name: "OBJECTIF GLOBAL & SPECIFIQUE",
		image: "/projects/work3.webp",
		link: "/",
	},
];
---

<div class={styles.project}>
	<div class="container">
		<h2 class={styles.heading}>En un coup d'œil</h2>

		<div class={styles.container}>
			{
				projects.map((item) => {
					return (
						<ProjectItem
							text={item.name}
							image={item.image}
							link={item.link}
						/>
					);
				})
			}
		</div>
	</div>
</div>
