---
import styles from "./word.module.scss";
---

<div class={styles.word}>
	<h2 class={styles.heading}>Mot du Coordonnateur National</h2>

	<div class={styles.image}>
		<img src="/message/message.webp" alt="Mot du Coordonnateur National" />
	</div>

	<div class={styles.text}>
		<p>
			“Nous sommes une équipe d’unité de gestion et de coordination
			regroupée autour d’un objectif commun produisant des activités
			organisées, coordonnées en vue de contribuer au Développement de nos
			communautés en milieu rural et péri-urbain en assurant les minimums
			de base par des efforts jusqu”aux sacrifices extrêmes en vue de
			produire ce qui est utile à la vie humaine par l’accès à
			l’éducation, l’assainissement et approvisionnement en eau Potable.
			Par la gestion efficace et économique avec un suivi permanent du
			respect de l’orthodoxie de la gestion et Coordination des ressources
			mises à notre disposition au bénéfice du Pays nous sommes ; le
			PROJET PRISE.”
		</p>

		<p class={styles.name}>DEO NSUNZU K</p>
	</div>
</div>
