---
import styles from "./footer.module.scss";

const phone = ["(+243) 817 073 112", "(+243) 817 073 118"];
const email = ["projetpriserdc@prise-rdc.com"];

const siteMap = [
	{
		link: "/",
		text: "A Propos",
	},
	{
		link: "/",
		text: "Nos Réalisations",
	},
	{
		link: "/",
		text: "Opportunités",
	},
	{
		link: "/",
		text: "Répertoire/Ouvrages",
	},
	{
		link: "/",
		text: "Le Ministère",
	},
	{
		link: "/",
		text: "Publication",
	},
	{
		link: "/",
		text: "Le Ministère",
	},
	{
		link: "/",
		text: "Avis Apel Candidature",
	},
];
---

<footer class={styles.footer}>
	<div class="container">
		<div class={styles.container}>
			<div class={styles.about}>
				<div class={styles.address}>
					<h3>Contact Us</h3>

					<p>
						Avenue Lukusa, n°111-112, croisement des avenues TSF et
						Lukusa,dans l’enceinte du secrétariat Général au
						Développement Rural
					</p>
				</div>

				<div class={styles.phone}>
					<h3>Phone</h3>

					<ul>
						{
							phone.map((item) => {
								return (
									<li>
										<a href={`tel:${item}`}>{item}</a>
									</li>
								);
							})
						}
					</ul>
				</div>

				<div class={styles.email}>
					<h3>Email</h3>

					<ul>
						{
							email.map((item) => {
								return (
									<li>
										<a href={`mailto:${item}`}>{item}</a>
									</li>
								);
							})
						}
					</ul>
				</div>
			</div>

			<div class={styles.site_map}>
				<h3>Site Map</h3>

				<ul>
					{
						siteMap.map((item) => {
							return (
								<li>
									<a href={item.link}>{item.text}</a>
								</li>
							);
						})
					}
				</ul>
			</div>
		</div>

		<img src="/logo.webp" alt="Ministry of Rural Development" />
	</div>
</footer>
