---
import styles from "./blog.module.scss";
import BlogItem from "./blogItem.astro";

const blogs = [
	{
		image: "/blogs/blog1.webp",
		text: "ATTRIBUTION DE MARCHE : Acquisition des travaux de réhabilitation des bâtiments scolaires, centres de santé et aménagement des latrines ainsi que la construction des places… Lot 02 – Lomami",
		date: "3 novembre 2023",
		link: "/",
	},
	{
		image: "/blogs/blog2.webp",
		text: "Travaux de Réhabilitation des bâtiments scolaires, centres de santé et aménagement des latrines ainsi que la construction des places à vivres et la fourniture des mobiliers scolaires – Kasaï",
		date: "3 novembre 2023",
		link: "/",
	},
	{
		image: "/blogs/blog3.webp",
		text: "Travaux de Réhabilitation des bâtiments scolaires, centres de santé et aménagement des latrines ainsi que la construction des places à vivres et la fourniture des mobiliers scolaires – Kwango",
		date: "3 novembre 2023",
		link: "/",
	},
	{
		image: "/blogs/blog4.webp",
		text: "Travaux de Réhabilitation des bâtiments scolaires, centres de santé et aménagement des latrines ainsi que la construction des places à vivres et la fourniture des mobiliers scolaires – Maniema",
		date: "3 novembre 2023",
		link: "/",
	},
	{
		image: "/blogs/blog5.webp",
		text: "Travaux de Réhabilitation des bâtiments scolaires, centres de santé et aménagement des latrines ainsi que la construction des places à vivres et la fourniture des mobiliers scolaires – Sankuru",
		date: "3 novembre 2023",
		link: "/",
	},
	{
		image: "/blogs/blog6.webp",
		text: "! important ! ATTRIBUTION DE MARCHE : Acquisition des Travaux de Réhabilitation des bâtiments scolaires, centres de santé et aménagement des latrines ainsi que la construction des places à vivres… (LOT 04) – Kwango",
		date: "3 novembre 2023",
		link: "/",
	},
];
---

<div class={styles.blog}>
	<div class="container">
		<h2 class={styles.heading}>L'info en continue</h2>

		<div class={styles.container}>
			{
				blogs.map((item) => {
					return (
						<BlogItem
							image={item.image}
							link={item.link}
							text={item.text}
							date={item.date}
						/>
					);
				})
			}
		</div>

		<div class={styles.link}>
			<a href="/">Plus Des Détails Des Ouvrage</a>
		</div>
	</div>
</div>
